@import "./variables";

@mixin mobile {
  @media screen and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: #{$breakpoint-pc}) {
    @content;
  }
}

main {
  margin-top: 9.531vw;
}

.wrap {
    padding: {
        left: 14.3%;
        right: 14.3%;
    };

    @include mobile{  
      padding: {
        left: 9.306vw;
        right: 9.306vw;
      };
    }
}

.bar-top {
    border-top: 0.01em solid #807670;
}

.bar-bottom {
    border-bottom: 0.01em solid #807670;
    @include mobile{
      border-bottom: 0.350vw solid black;
    }
}