@mixin mobile {
  @media screen and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$breakpoint-pc}) {
    @content;
  }
}

.wrap {
    padding: {
        left: 13%;
        right: 13%;
    };
}

.bar-top {
    border-top: 1px solid black;
}

.bar-bottom {
    border-bottom: 1px solid black;
}