@import "./variables";

@mixin mobile {
  @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: #{$breakpoint-pc}) {
    @content;
  }
}

main {
  margin-top: 7.849vw;

  @include mobile {
    margin-top: 2.222vw;
  }
}

.wrap {
  padding: {
    left: 14.3%;
    right: 14.3%;
  };

  @include mobile {  
    padding: {
      left: 9.167vw;
      right: 9.167vw;
    };
  }
}

.bar-top {
  border-top: 1px solid #001845;
}

.bar-bottom {
  border-bottom: 1px solid #001845;
}

@mixin content-wrap {
  .content-wrap {
    margin-bottom: 20px;
  
    img {
      display: block;
    }
  
    p {
      margin-bottom: 5px;
    }

    .pc-img {
      width: 460px;
      height: auto;
      object-fit: cover;
    }
  
    .mobile-img {
      width: 290px;
      height: auto;
      object-fit: cover;
    }

    .text-wrap {
      margin-bottom: 12px;

      .subject {
        font-size: 18px;
      }

      .text {
        padding-left: 8px;

        &::before {
          content: '-';
          margin-right: 6px;
        }
      }
    }
  }
}

button.red-button {
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;

  &:hover {
    background-color: white;
    color: black;
  }
}

button.blue-button {
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;

  &:hover {
    background-color: white;
    color: black;
  }
}

button.green-button {
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;

  &:hover {
    background-color: white;
    color: black;
  }
}